# API
EXPO_PUBLIC_API_BASE_URL=https://api.wantsome.kr

# Supabase (앱에서 공개키만 사용)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Agora
EXPO_PUBLIC_AGORA_APP_ID=

# PortOne
EXPO_PUBLIC_PORTONE_STORE_ID=
EXPO_PUBLIC_PORTONE_CHANNEL_KEY=
